<div class="create-form">
  <form id="create-form">
    <div class="create-form__element">
      <label for="path">Local Path*</label>
      <input type="text" name="path" required="true" autofocus />
      <div class="create-form__errors"></div>
    </div>
    <div class="create-form__element">
      <label for="path">Redirect URL*</label>
      <input type="text" name="url" required="true" />
      <div class="create-form__errors"></div>
    </div>
    <div class="create-form__element">
      <label for="path">Comment</label>
      <input type="text" name="comment" />
      <div class="create-form__errors"></div>
    </div>
    <div class="create-form__action">
      <button form="create-form">Submit</button>
    </div>
    <div class="create-form__status"></div>
  </form>
</div>
