<div class="create-form">
  <form id="create-form">
    <div class="create-form__element">
      <label for="path">Path</label>
      <input type="text" name="path" required="true" />
    </div>
    <div class="create-form__element">
      <label for="path">URL</label>
      <input type="text" name="url" required="true" />
    </div>
    <div class="create-form__element">
      <label for="path">Comment</label>
      <input type="text" name="comment" />
    </div>
    <div class="create-form__action">
      <button form="create-form">Submit</button>
    </div>
  </form>
</div>
